SMTP_USER=your_smtp_user_here
SMTP_PASS=your_smtp_password_here
FORM_FROM_EMAIL=your_verified_sender@example.com
FORM_RECIPIENT_EMAIL=referrals@dreamcarept.com
VITE_WEB3FORMS_ACCESS_KEY=7ff350b4-b9bf-4d90-a7d6-7e5e5a2e6068
